* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(23, 23, 23);
}

body > #root {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}